extends /views/common/layout.jade

block css
  link(rel="stylesheet" href="/style/about.css")

block js
  script(type="text/javascript" src="/javascripts/about.js" defer)

block content
  each entry in content
    row
      p.noimage!= entry
