extends /views/common/layout.jade

block css
  link(rel="stylesheet" href="/style/faq.css")

block js
  script(type="text/javascript" src="/javascripts/faq.js" defer)

block content
  each entry in content
    .faq
      p.faq_question= entry.question
      p.faq_answer.closed!= entry.answer
