extends /views/common/layout.jade

block css
  link(rel="stylesheet" href="/style/hardware.css")

block js
  script(type="text/javascript" src="/javascripts/hardware.js" defer)

block content
  each entry, index in content
    row(id="row-#{index}")
      .hidden
      p.hidden!= entry
