@import "common\gui"

sidebar
    position        : absolute
    top             : header_height
    left            : 0
    height          : 100%
    width           : sidebar_width
    background-color: color_main-medium
    overflow-y      : overlay
    &.sticked
        position: fixed
        top     : 48px

.sidebar_section
    & press
        height             : 24px
        width              : 100%
        line-height        : @height
        padding-left       : 48px
        font-size          : font_size-small
        font-weight        : font_weight-light
        text-align         : left
        background-color   : inherit
        background-position: 24px center
        background-size    : auto 18px
        background-repeat  : no-repeat
        &:hover
            background-color: color_accent-light
        &.selected
            background-color: color_accent-normal
            &:hover
                background-color: color_accent-light

.sidebar_section-title
    height          : 36px
    line-height     : @height
    padding-left    : 24px
    font-size       : font_size-normal
    font-weight     : font_weight-medium
    text-transform  : uppercase
    background-color: color_main-light

group
    width      : 100% - sidebar_width
    margin-left: sidebar_width
    & .group_title
        background-position  : center
        background-size      : cover
        background-blend-mode: luminosity
        background-color     : black
        &:hover
        &.hovered
            background-color: initial
    &.group_pending .group_title p:before
        content    : "[COMING SOON] "
        font-weight: font_weight-light

.group_content
    & div
    & p
        display       : inline-block
        vertical-align: top
    & > div
        margin: 36px 0

.press_buy
.press_download
    background-size    : 30px
    background-repeat  : no-repeat

.press_buy
    padding-left       : 48px
    background-image   : url("../../images/icons/buy.png")
    background-position: 9px center

.press_download
    width              : 48px
    background-image   : url("../../images/icons/download.png")
    background-position: center

.group_aircraft
    padding            : 24px
    padding-left       : 411px
    text-align         : justify
    font-size          : font_size-normal
    background-position: left center
    background-size    : 387px 240px
    background-repeat  : no-repeat

.group_missions .group_package
    width      : 100%
    margin-left: 0

.group_campaign:not(:last-child)
    margin-bottom: 72px

.group_campaign-description
    padding: 24px
    & div
        height     : 48px
        width      : calc(100% - 120px)
        line-height: @height
        font-size  : font_size-normal
    & p
        padding: 12px 0

.group_package
    width              : 90%
    margin-left        : 10%
    border             : 1px solid color_main-medium
    border-left        : 0
    border-right       : 0
    padding            : 12px 24px
    padding-left       : 174px
    text-align         : left
    background-position: left center
    background-size    : 150px 150px
    background-repeat  : no-repeat
    &:not(:last-child)
        margin-bottom: 24px
    & press
        float: left
        &:not(:last-of-type)
            margin-right: 12px
    & div
        float      : right
        height     : 48px
        width      : calc(100% - 180px)
        line-height: @height
        font-size  : font_size-normal
        text-align : center
    & p
        padding: 12px 0
    & h6
        text-align: right