link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700")
link(rel="stylesheet" href="/style/common/site.css")
link(rel="stylesheet" href="/style/common/background.css")
link(rel="stylesheet" href="/style/common/header.css")
link(rel="stylesheet" href="/style/common/footer.css")
